{% extends 'base.html.twig' %}
{% block title 'Tous nos biens'  %}

{% block body %}
    <div class='container'>
        <div class="jumbotron text-center">
            <h1>Tous nos biens</h1>
        </div>

    </div>
{% endblock %}